.qualities__list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.qualities__item {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - 30px);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}

.qualities__box {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background: var(--ninth-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.qualities__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}
.qualities__text {
  line-height: 1.71;
  color: var(--fourth-color);
}
