.doing {
  padding-top: 0px;
}

.doing__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}

.doing__list {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}

.doing__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-right: 30px;
  position: relative;
}

.doing__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--fifth-color);
  padding-top: 27px;
  padding-bottom: 27px;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
