body {
  font-family: 'Roboto', sans-serif;
  color: var(--third-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--fifth-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}