:root {
  --first-color: #2196f3;
  --second-color: #000000;
  --third-color: #212121;
  --fourth-color: #757575;
  --fifth-color: #ffffff;
  --sixth-color: rgba(255, 255, 255, 0.6);
  --seventh-color: #2f303a;
  --eighth-color: #188ce8;
  --ninth-color: #f5f4fa;
  --tenth-color: #ececec;
  --eleventh-color: rgba(0, 0, 0, 0.15);
  --twelfth-color: #eeeeee;
  --icon-color: #afb1b8;
  --icon-bgcolor: #44454e;
  --transition-dur-tim: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}